{h1
font-size:30vw;
}
body {
  background:silver;
  font:cursive;
}


/*h1 {
  background:;
  font-size:45px;
  color:green;
  font:cursive;
  
  
  
  padding:10%;
  border:5px :silver;``
  margin:11%;
  font:cursive;
}

h2 {
  background:silver;
  font-size:;
  color:green;
  font:cursive;
  
  
  padding:;
  border:;
  margin:;
  font:cursive;
}

img {
  height:200px;
  width:200px;
  font:cursive;
  
  padding:10;
  border:10;
  margin:10;
  font:cursive;
}*/

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: red;
  font:cursive;
}

li {
  float: left;
  border-right:1px solid #bbb;
  font:cursive;
}

li:last-child {
  border-right: none;
  font:cursive;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font:cursive;
}

li a:hover:not(.active) {
  background-color:blue;
  font:cursive;
}

.active {
  background-color:black;
  font:cursive;
}
#example1 {
  box-shadow: 5px 10px;
  font:cursive;
}

#example2 {
  box-shadow: 5px 10px #888888;
  font:cursive;
}
* {
  box-sizing: border-box;
  font:cursive;
}

/* Style the search field */
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
  font:cursive;
}

/* Style the submit button */
form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
  font:cursive;
}

form.example button:hover {
  background: #0b7dda;
  font:cursive;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
  font:cursive;
}
body{
  background-image:linear-gradient(black,silver);
}
.container{
  padding:5px;
  display:flex;
  flex-wrap:wrap;
  justify-content:space-around;
}
.tile {
  display:inline-block;
  background-color:black;
  height:140px;
  width:140px;
  margin:5px;
}

.tile:hover {
  display:inline-block;
  background-coulor:red balck;
  height:146px;
  width:146px;
  margin:2px;
}
iframe {
  width:inherit;
  border:none;
}

var x = document.getElementById("demo");
if (event.shiftKey) {
  x.innerHTML = "The SHIFT key was pressed!";
} else {
  x.innerHTML = "The SHIFT key was NOT pressed!";
}

