 body{
  background-color:silver;
  text-align:center;
  padding:20px;
  
}

header{
  padding: 30px;
  text-align: center;
  font-size: 35px;
  background-color:purple;
  border:double;
  
}
body{
  background-image: url(https://images.indianexpress.com/2020/07/US-chip.jpg);
  display: table;
    width:101.7%;
    background: linear-gradient( rgba(1, 0, 5, 0.1), rgba(0, 0, 0.9, 0.4) ), url(https://images.indianexpress.com/2020/07/US-chip.jpg);
    background-position:center;
    height:101%;
  background-repeat:no-repeat;
  border:1px solid white;
  margin:1;
}
#sign-in-reminder{
  position:absolute;
  right:300px;
  top:-50px;
  background-color:red;
  border:solid black;
  border-radius:5px;
  width:200px;
  animation:dropdown 20s infinite;
  animation-direction:alternate;
  animation-delay:6s;
  padding:5px;
  text-align:center;
}

@keyframes dropdown{
    0%{
       top:-50px;
    }
    50%{
        top:20%;
    }
    100%{
         top:20px;
    }
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
